*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body{
	background: rgb(243, 247, 243);
}
.color-nav{
	margin: 0;
	background: rgb(10,66,15);
	width: 100%;
}

.color-nav ul{
	background: rgb(10,66,15);
}

.color-nav a{
	color: #fff;
	padding: 15px;
	margin: 0;
}

.color-nav a:hover{
	background: rgba(10, 66, 15, .10);
	color: yellow;
}

.welcome{
	height: 100px;
	border-bottom: 1px solid rgba(0,0,0,.30);
	color: #fff;
	background: rgba(143, 140, 115, .9);
}


.caja-estadisticas{
	background: rgba(143, 140, 115, .9);
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
	border: 1px solid rgb(10,66,15);
}

.caja-estadisticas:hover{
	background: rgb(10,66,15);
	transition: .3s all ease;
	color: #fff;
	cursor: pointer;
}

.caja-estadisticas .icono{
	font-size: 50px;
	padding: 0px 5px;
	text-align: center;
}


.caja-estadisticas  .texto{
	text-align: center;
}

.caja-estadisticas  .texto h3{
	font-weight: 400;
	font-size: 15px;
	font-style: italic;
	font-family: 'Roboto', sans-serif;
}

.caja-estadisticas  .texto h6{
	font-weight: 500;
	font-size: 25px;
}

footer{
position: fixed;
bottom: 0;
width: 100%;
padding: 10px;
background: rgb(10,66,15);
}

footer h1{
	color: #fff;
	font-size: 20px;
}
.tabla{
width: 100%;
margin: 20px 20px;

}

.thead{
background: rgba(0,0,0,.8);
color: #fff;
}

.thead th{
	padding: 10px;
	text-align: center;
}

tbody tr:nth-child(odd){
	background: rgb(61, 134, 71);
	
	text-align: center;
	padding: 20px;
}
tbody tr:nth-child(even){
	background: rgb(177, 179, 39);
	text-align: center;
	padding: 20px;
}

tbody tr td{
	padding: 20px;
}

tbody tr:nth-child(odd) td{
	color: #fff;
	font-weight: 600;
}

tbody tr:nth-child(even) td{
	color: #fff;	
	font-weight: 600;
}

.titulo{
	color: rgba(6, 77, 12, 0.521);
	margin: 20px 0px;
	font-weight: 300;
	font-size: 60px;
}

